<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body>
<h1>Welcome to Admin panel</h1>
<br>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>Password</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>

        <tr th:each="user: ${users}">
            <td th:utext="${user.getId()}">value</td>
            <td th:utext="${user.getUsername()}">value</td>
            <td th:utext="${user.getName()}">value</td>
            <td th:utext="${user.getLastname()}">value</td>
            <td th:utext="${user.getPassword()}">value</td>
            <td>
                <div th:each="role:${user.getRoles()}">[[${role.getName()}]]</div>
            </td>
            <td>
                <a th:href="@{/admin/edit/{id}(id=${user.getId()})}">
                    <input type="submit" value="Edit user"/>
                </a>
                <form th:method="DELETE" th:action="@{/admin/{id}/delete(id=${user.getId()})}">
                    <input type="submit" value="Delete user"/>
                </form>
            </td>
        </tr>
    </table>
    <br/>
    <a href="/admin/new">Create user</a>
    <br/>
    <a href="/logout">Logout</a>
</div>
</body>
</html>