<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Welcome to Admin panel</h1>
<br>
<div>
    <table th:border="1">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Name</th>
            <th>Lastname</th>
        </tr>

        <tr th:each="user: ${users}">
            <td th:utext="${user.getId()}"></td>
            <td th:utext="${user.getUsername()}"></td>
            <td th:utext="${user.getName()}"></td>
            <td th:utext="${user.getLastname()}"></td>
            <td><a th:href="@{admin/{id}/edit (id = ${user.getId()})}">Edit</a></td>
            <td>
                <form th:method="DELETE" th:action="@{admin/{id}/delete (id=${user.getId()})}">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
    </table>
    <br/>
    <a href="/admin/new">Create user</a>
    <br/>
    <a href="/logout">Logout</a>
</div>

</body>
</html>