<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/edit/{id}(id=${user.id})}" th:object="${user}">

    <label for="username">Enter username:</label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <br/>
    <label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <br/>
    <label for="lastname">Enter lastname:</label>
    <input type="text" th:field="*{lastname}" id="lastname"/>
    <br/>
    <br/>
    <label for="password">Enter password:</label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>
    <br/>
    Enter role:
    <br/>
    <label>Roles:
        <input type="checkbox" name="roles"
               th:each="role : ${roles}"
               th:text="${role.authority}"
               th:value="${role.id}"
               th:field="*{roles}"
        />
    </label>
    <br/>
    <input type="submit" value="Update"/>
</form>
<br>
<a th:href="@{/admin}">Back</a>
<br>
<br>
<a href="/logout">Logout</a>
</body>
</html>